[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false


# camelCase
dotnet_naming_rule.locals_should_be_camel_case.symbols = locals
dotnet_naming_rule.locals_should_be_camel_case.style = camel_case_style
dotnet_naming_rule.locals_should_be_camel_case.severity = suggestion

dotnet_naming_symbols.locals.applicable_kinds = local, parameter, local_function

dotnet_naming_style.camel_case_style.capitalization = camel_case